div.erpal-asterisk-notify {
  position:fixed;
  right:0;
  bottom:0;
  background:#eeef99;
  border:2px solid white;
  width:400px;
  padding:0 20px;
  z-index: 100;
}

div.erpal-asterisk-notify div.asterisk-status-buttons {
  margin:15px;
}

div.erpal-asterisk-notify div.asterisk-status-buttons a#asterisk-available {
  color:green;
  font-weight:bold;
}

div.erpal-asterisk-notify div.asterisk-status-buttons a#asterisk-not-available {
  color:red;
  font-weight:bold;
}



/*
div.asterisk-toolbar {
	padding-left: 8px;
}


div.asterisk-toolbar a#toggle-status .available{
	color: green;	
}
div.asterisk-toolbar a#toggle-status .not-available{
	color: red;
}*/


