div.erpal-asterisk-notify {
  position:fixed;
  right:0;
  bottom:0;
  background:#645C57;
  border:1px solid white;
  width:400px;
  padding: 0px 10px 0px 10px;
  z-index: 100;
}

.erpal-asterisk-notify .view-content{
  border-radius: 5px;
}

div.erpal-asterisk-notify div.asterisk-status-buttons {
  margin:15px;
}

div.erpal-asterisk-notify div.asterisk-status-buttons a#asterisk-available {
  color:#098A58;
  font-weight:bold;
}

div.erpal-asterisk-notify div.asterisk-status-buttons a#asterisk-not-available {
  color:#FC9822;
  font-weight:bold;
}



/*
div.asterisk-toolbar {
	padding-left: 8px;
}


div.asterisk-toolbar a#toggle-status .available{
	color: green;	
}
div.asterisk-toolbar a#toggle-status .not-available{
	color: red;
}*/


