www/sites/default/settings.php
www/sites/all/modules/development
www/sites/*/files
www/nbproject
www/sites/all/libraries
www/private
.project
nodejs/bs_asterisk_server/bs_asterisk_server.pid
www/sites/all/themes/erpal/.sass-cache/*


www/sites/all/modules/dev
.DS_Store*
