www/sites/default/settings.php
www/sites/all/modules/development
www/sites/*/files
www/sites/*/libraries
www/nbproject
www/sites/all/libraries
www/private
nodejs/bs_asterisk_server/bs_asterisk_server.pid
www/sites/all/modules/dev
www/sites/all/themes/erpal/.sass-cache/*
