#commander-prompt-form {
    padding: 10px 0px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    bottom: 0;
}

#commander-prompt-form .form-text {
    margin-right: 20px;
    width: 500px;
}

#commander-prompt-form .form-item {
    margin-right: 20px;
    width: 500px;
    float: left;
}

#commander-prompt-form .form-submit {
    margin-top: 4px;
    float: left;
}

#commander-prompt-form #commander-prompt {
    margin: 0 auto;
    overflow: hidden;
    width: 800px;
}

#commander-prompt-form .ajax-progress {
    position: absolute;
}

#commander-prompt-status.messages {
    margin: 0;
}