<html>
<head>

<link rel=StyleSheet href="style.css" type="text/css" media=all>

<title>Rechnung Nr. 251</title>
</head>

<body class='rechnung'>
	<div id='head'>
		<img src='logo.png' height=60 />
	</div>
	
	<div id='absender'>Bright Solutions GmbH - Pallaswiesenstr. 63 - 64293 Darmstadt</div>
	
	<!-- TEMPLATE Start -->
	
	<div id='anschrift'>
		Krupion GbR<br />
		Stieglitzweg 19<br />
		23562 Lübeck<br />
	</div>
	
	<div id='rechnungsnummer'>Rechnung Nr. 251</div>
	
	<div id='rechnungsdatum'>Datum: 27.03.2012</div>
	
	<div id='rechnungstabelle'>
	
		<table>
			<thead>
			<tr>
				<th class='left executed'>Ausgeführt</th>
				<th class='left amount'>Menge</th>
				<th class='left article'>Artikelnr.</th>
				<th class='left description'>Artikelbezeichnung</th>
				<th class='right price'>Preis / St. in €</th>
				<th class='right total'>Gesamtbetrag in €</th>
			</tr>
			</thead>
			
			<tbody>
			
				<tr class='odd'>
					<td class='left'>06.03.2012</td>
					<td class='left'>5</td>
					<td class='left'>1</td>
					<td class='left'>Projektarbeiten</td>
					<td class='right'>75,00</td>
					<td class='right'>375,00</td>
				</tr>
				<tr class='even'>
					<td class='left'>05.03.2012</td>
					<td class='left'>1</td>
					<td class='left'>2</td>
					<td class='left'>Projektarbeiten mit wesentlich längerem Titel und effektiv gesehen ist das eine sehr viel zu lange Beschreibung aber egal.</td>
					<td class='right'>75,00</td>
					<td class='right'>375,00</td>
				</tr>
				<tr class='odd'>
					<td class='left'>04.03.2012</td>
					<td class='left'>6842</td>
					<td class='left'>13</td>
					<td class='left'>Projektarbeiten</td>
					<td class='right'>14,00</td>
					<td class='right'>97.575,00</td>
				</tr>
				
				
				<tr class='sumrow bordertop'>
					<td class='left'></td>
					<td class='left'></td>
					<td class='left'></td>
					<td class='right' colspan=2>Summe Netto:</td>
					<td class='right'>98.123,12 €</td>
				</tr>
				<tr class='sumrow'>
					<td class='left'></td>
					<td class='left'></td>
					<td class='left'></td>
					<td class='right' colspan=2>gesetzl. MwSt.:</td>
					<td class='right'>18.792,47 €</td>
				</tr>
				<tr class='sumrow'>
					<td class='left'></td>
					<td class='left'></td>
					<td class='left'></td>
					<td class='right' colspan=2>Summe Brutto:</td>
					<td class='right'>116.247,12 €</td>
				</tr>
			</tbody>
		</table>
		
		
		<div id='rechnungshinweis'>
			Bitte überweisen Sie den Gesamtbetrag bis zum 31.04.2012 auf unser Konto.<br />
			<br />
			Der Gesamtbetrag setzt sich wie folgt zusammen:<br />
			€ 2.921,25 MwsT zu 19% auf € 15.375,00 netto.<br />
			<br />
			<br />
			<br />
			Vielen Dank für Ihren Auftrag.<br />
			<br />
			Manuel Pistner
		</div>
	
	</div>
	
	
	
	<!-- TEMPLATE END -->
	
	
	<table class='footer'>
		<tr>
		<td><strong>Adresse</strong><br /> Bright Solutions GmbH<br />Pallaswiesenstr. 63<br />64293 Darmstadt</td>
		<td><strong>Gesellschaft</strong><br />Bright Solutions GmbH<br /> Geschäftsführer: Manuel Pistner<br />Amtsgericht Darmstadt<br />HRB 89584<br />USt-IdNr: YXCYSCYXX</td>
		<td><strong>Bankverbindung</strong><br />aaaa<br />bbbbb<br />cccc<br />ddddd<br />eeee</td>
		<td><strong>Kontakt</strong><br />Email: aaaaa<br />Web: bbbbbbb<br />Tel.: cccccccccccc<br />Mobil.:eeeeeeeeeeee</td>
		</tr>
	</table>
	
</body>
</html>