@import "global_vars_a_mixins";
ul.primary li a {
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}
#erpal_wrapper .panel-panel.panel-col-last {
  float: left;
  width: $value100;
  height: 100%;
  .inside {
    margin-left: 141px;
	min-width: 440px;
	height: 100%;
	.ctools-collapsible-content {
	  .inside {
        margin-left: 0px;
	    min-width: 0px;
	  }
	}
    .pane-page-tabs {
	  margin-bottom: 0;
	  width: $value100;
	  ul.primary {
	    @include dist_zero;
		*zoom: 1;
		list-style: none;
		white-space: nowrap;
		border: none;
		li {
		  margin: 0 3px 0 0;
	      float: left;
		  display: block;
		  background-color: rgb(233,229,226); 
		  @include background-image(linear-gradient(top,  rgba(233,229,226,1) 0%,rgba(212,212,212,1) 100%));
		  @include box-shadow(#545151 0 -2px 1px 0);
		  @include border-radius(5px 5px 0 0);
		  text-align: center;
		  position: relative;
		  z-index: 1;
		  &.active {
		    background: $white;
			position: relative;
			z-index: 10;
			&:hover {
			  background: $white;
			}
		  }
		  a {
		    @include a_black;
			position: relative;
		    z-index: 1;
			color: $black;
			@include border-radius(5px 5px 0 0);
			text-align: center;
			min-width: 100px;
			&:visited {
			  @include a_black;
			  color: $black;
			}
			&:hover {
			  color: $orange;
			}
			&.active {
			  color: $black;
			  border: medium none;
			  z-index: 10;
			  color: $orange;
			  &:hover{
			    color: $orange;
			  }
			}
		  }		
		}
	  }
	} 
  }
}
/*--------------------------begin icons for tabs------------------------*/
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary {
  li {
    &.active-timetrackings a,
	&.timetrackings a,
	&.timekeeping a,
	&.all-timekeeping a,
	&.timekeeping-offset a {
      background: url("../images/menu_icons/timekeeping.png") no-repeat 9px -2px;
	  &:hover {
	    background: url("../images/menu_icons/timekeeping.png") no-repeat 9px -38px;
	  }
	}
	&.active-timetrackings-active-tab a,
	&.timetrackings-active-tab a,
	&.timekeeping-active-tab a,
	&.all-timekeeping-active-tab a,
    &.timekeeping-offset-active-tab a {
	  background: url("../images/menu_icons/timekeeping.png") no-repeat 9px -38px;
	}
	&.fixed-price-items a,
    &.time-budgets a,
    &.billables a {
	  background: url("../images/menu_icons/price_.png") no-repeat 9px 9px;
	  &:hover {
	    background: url("../images/menu_icons/price_.png") no-repeat 9px -40px;
	  }
	}
	&.fixed-price-items-active-tab  a,
    &.time-budgets-active-tab a, 
    &.billables-active-tab a {
	  background: url("../images/menu_icons/price_.png") no-repeat 9px -40px; 
	}
	&.project-list a,
    &.summary a {
	  background: url("../images/menu_icons/projects.png") no-repeat 9px -2px;
	  &:hover {
	    background: url("../images/menu_icons/projects.png") no-repeat 9px -38px;
	  }
	}
	&.project-list-active-tab a,
    &.summary-active-tab a {
	  background: url("../images/menu_icons/projects.png") no-repeat 9px -38px; 
	}
	&.home a {
	  background: url("../images/menu_icons/home.png") no-repeat 9px 7px;
	  &:hover {
	    background: url("../images/menu_icons/home.png") no-repeat 9px -37px;
	  }
	}
	&.home-active-tab a {
	  background: url("../images/menu_icons/home.png") no-repeat 9px -37px;
	}
	&.documents a {
	  background: url("../images/menu_icons/docs.png") no-repeat 9px -1px;
	  &:hover {
	    background: url("../images/menu_icons/docs.png") no-repeat 9px -37px;
	  }
	}
	&.documents-active-tab a {
	   background: url("../images/menu_icons/docs.png") no-repeat 9px -37px;
	}
	&.files a {
	  background: url("../images/menu_icons/files.png") no-repeat 9px -2px;
	  &:hover {
	    background: url("../images/menu_icons/files.png") no-repeat 9px -38px;
	  }
	}
	&.files-active-tab a {
	  background: url("../images/menu_icons/files.png") no-repeat 9px -38px;
	}
	&.contracts a {
	  background: url("../images/menu_icons/contracts.png") no-repeat 9px -1px;
	  &:hover {
	    background: url("../images/menu_icons/contracts.png") no-repeat 9px -37px;
	  }
	}
	&.contracts-active-tab a {
	  background: url("../images/menu_icons/contracts.png") no-repeat 9px -37px;
	}
	&.contact a {
	  background: url("../images/menu_icons/contacts.png") no-repeat 9px -1px;
	  &:hover {
	    background: url("../images/menu_icons/contacts.png") no-repeat 9px -37px;
	  }
	} 
	&.contact-active-tab a {
	  background: url("../images/menu_icons/contracts.png") no-repeat 9px -37px;
	}
	&.tasks a {
	  background: url("../images/menu_icons/tasks.png") no-repeat 9px 7px;
	  &:hover {
	    background: url("../images/menu_icons/tasks.png") no-repeat 9px -22px;
	  }
	} 
	&.templates a {
	  background: url("../images/menu_icons/template.png") no-repeat 9px 5px;
	  &:hover {
	    background: url("../images/menu_icons/template.png") no-repeat 9px -32px;
	  }
	} 
	&.tasks-active-tab a {
	  background: url("../images/menu_icons/tasks.png") no-repeat 9px -22px;
	}
	&.edit a {
	  background: url("../images/menu_icons/edit.png") no-repeat 9px 5px;
	  &:hover {
	    background: url("../images/menu_icons/edit.png") no-repeat 9px -33px;
	  }
	} 
	&.edit-active-tab a {
	  background: url("../images/menu_icons/edit.png") no-repeat 9px -33px;
	}
	&.notifications a {
	  background: url("../images/menu_icons/notify_.png") no-repeat 9px 6px;
	  &:hover {
	    background: url("../images/menu_icons/notify_.png") no-repeat 9px -32px;
	  }
	} 
	&.notifications-active-tab a {
	  background: url("../images/menu_icons/notify_.png") no-repeat 9px -32px;
	}
	&.view a {
	  background: url("../images/menu_icons/user.png") no-repeat 9px 3px;
	  &:hover {
	    background: url("../images/menu_icons/user.png") no-repeat 9px -31px;
	  }
	} 
	&.view-active-tab a {
	  background: url("../images/menu_icons/user.png") no-repeat 9px -31px;
	}
	&.calendar {
	  width: auto;
	  a {
	    background: url("../images/menu_icons/calendar.png") no-repeat 9px -2px;
	    &:hover {
	      background: url("../images/menu_icons/calendar.png") no-repeat 9px -38px;
	    }
	  }
	}
	&.calendar-active-tab a {
	  background: url("../images/menu_icons/calendar.png") no-repeat 9px -38px;
	}
	&.invoices-active-tab a{
	  background: url("../images/menu_icons/invoices.png") no-repeat 9px -38px;
	}
	&.invoices {
	  width: auto;
	  a {
	    background: url("../images/menu_icons/invoices.png") no-repeat 9px -2px;
	    &:hover {
	      background: url("../images/menu_icons/invoices.png") no-repeat 9px -38px;
	    }
	  }
	}
	
	&.tickets {
	  a {
	    background: url("../images/menu_icons/ticket_.png") no-repeat 9px 8px;
	    &:hover {
	      background: url("../images/menu_icons/ticket_.png") no-repeat 9px -25px;
	    }
	  }
	}
	&.tickets-active-tab a {
	  background: url("../images/menu_icons/ticket_.png") no-repeat 9px -25px;
	}
  }
}
.page-projects-projects #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a {
  min-width: 140px;
}
/*--------------------------end icons for tabs------------------------*/
