body{
    color: #525252;
	background: #E5E5E5;
}

ul.quicktabs-tabs li.active{
	background-color: #F6F6F6 !important;
}
ul.quicktabs-tabs li.active a{
	color: #525252 !important;
	
}
ul.quicktabs-tabs a {
    color: #888888;
}
ul.quicktabs-tabs li{
	background-image: none;
	background-color: #dedede;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}
ul.quicktabs-tabs li.last{
	border-right: 1px solid #eeeeee;
}
.ctools-collapsible-container {
	background-color: #DEDEDE;
	border: 1px solid #EEEEEE;
}
.ctools-collapsible-processed h2.pane-title {
    background-color: #AFAFAF;
}
.ctools-collapsible-processed .ctools-collapsible-content h2.pane-title{
	background: none;
}
.ctools-collapsible-processed h2.pane-title,
.ctools-collapsible-processed .ctools-collapsible-content h2.pane-title,
.erpal-content-layout-template .region-sidebar-right{
	color: #202020;
}
.ctools-collapsible-processed .panel-separator{
	border-bottom: 1px solid #EEEEEE;
}
.block-content .view-content .views-table td{
	border-bottom: 1px solid #E5E5E5;
}
.view-filters .rel-register-build{
	background-color: #EEEEEE;
}
.block-content .view-content .views-table th{
	background-color: #AFAFAF;
}
.block-content .view-content .views-table tr.info, 
.block-content .view-content .views-table tr.even, 
.block-content .view-content .views-table tr:nth-child(2n+2) {
    background-color: #ffffff;
}

/*---------------ticket details-----------*/
.node-erpal-task .columns-inner{
	background-color: #ffffff;
}
#tabs-tasks_by_project_panel-middle-3  #content-column .content-inner,
#tabs-tickets_by_project_panel-middle-3 #content-column .content-inner{
	border-bottom: 1px solid #E5E5E5;
}

.item-list .pager {
    background: #AFAFAF;
}
ul.pager li a {
	color: #525252 !important;
}
#tabs-tasks_by_project_panel-middle-1 th a{
	color: #525252;
}

/* hightlight of different states of tasks/projects */

tr.odd.alert,
tr.even.alert{
	background-color: #FFDFE4 !important;
}

tr.odd.alert .active,
tr.even.alert .active {
	background-color:#eed0d5 !important;
}

.alert .field .field_item .field-name-field-task-status-term,
.alert .field .field_item .field-name-field-date,
.alert .views-field-field-date,
.alert .field-item,
.pane-quicktabs-tasks-by-project-tabs .alert td.views-field-field-date,
.alert  td.views-field-field-date-1, 
.alert  td.views-field-field-next-contact, 
.alert  td.views-field-field-task-status-term, 
.alert  td.views-field-field-project-status-term,
.alert  td.views-field-field-activity-status-term {
	color: #CC000C;
}

tr.odd.completed,
tr.even.completed {
	background-color: #EEEEEE !important;
}

.completed .field .field_item .field-name-field-task-status-term,
.completed .field .field_item .field-name-field-completed,
.completed .field-item,
.pane-quicktabs-tasks-by-project-tabs .completed  td.views-field-field-date,
.completed  td.views-field-field-date-1, 
.completed  td.views-field-field-next-contact, 
.completed  td.views-field-field-task-status-term, 
.completed  td.views-field-field-project-status-term,
.completed  td.views-field-field-activity-status-term {
	color: #088A58;
}

.pane-node-body,
article.comment{
	background-color: #ffffff;
}
.comment .submitted {
    border-bottom: 1px solid #F4F4F4;
}
.comment-form{
	background-color: #eeeeee;
}
/* crm activity */

.field-type-datetime  fieldset {
	border: none;
}
/*---------------------------------dashboard styles-----------------------------------------*/
#homebox .homebox-column{
	background: none;
}
#homebox .more-link, #homebox .portlet-title, #homebox .homebox-portlet .portlet-header {
    background-color: #F6F6F6;
}

/*-------------------------------------crm styles-------------------------------------*/
.node-type-erpal-contact .region-sidebar-left .panel-pane .field-collection-view table th,
.node-type-erpal-contact .region-sidebar-left .panel-pane .action-links li{
	background-color: #AFAFAF;
}
.node-type-erpal-contact .region-sidebar-left .panel-pane .field-collection-container td{
	border-bottom: 1px solid #e7e7e7;
}
