/*
Document   : global_vars_a_mixins
Created on : December, 2012, 
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*******************/
/* IMPORTS
/*******************/

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/*******************/
/* VARIABLES
/*******************/

/* color variables */
$bright_grey: #E5E5E5;         /* main background*/
$white: #ffffff;
$grey: #525252;
$light_grey: #EEEEEE;   /* background*/
$dark_white: #F6F6F6; /*background for quicktabs li*/
$dark_grey: #888888;
$silver: #dedede;
$dark_silver: #AFAFAF; /*background for pane titles, table th*/
$dark_black: #202020; /* color for right sidebar, pane title*/
$light_brown: #847C76;
$light_pink: #FFDFE4;
$pink: #eed0d5;
$red: #CC000C;
$font-size_12: 12px;
$green: #088A58;
$dark_brown: #7b726b;        /* left sidebar link*/
$silver_gray: #b6b6b6; 
$brown: #908984;
$black: #000000;
$orange: #FFA800;
$dark_orange: #fd8300;
$radius_8: 8px;
$radius_5: 5px;
$padding_10: 10px;
$padding_15: 15px;
$align_center: center;
$weight_normal: normal;
$h1_size: 32px;
$h1_height: 32px;
$font_family: Arial, Helvetica, sans-serif;
$body_align: left;
$body_height: 1.5em;

$weight_strong: bold;
$body_em_style: italic;

$ul_line_height: 1.4em;

$ol_style: decimal;
$ol_position: inside;
$ol_weight: bold;
$ol_height: 2em;

$width_item: 200px;

@mixin rounded_corners_10{/*styles for filter box*/ 
	padding: $padding_10;
	background-color: $bg_light_grey;
	@include border-radius(4px, 4px, 0, 0); 
}
@mixin rounded_corners_11{
	@include border-radius(11px); 
}
@mixin content_box{
	@include border-radius($radius_5, $radius_5); 
	background-color: $white;
}
@mixin text_bold_12{
	font-size: $font-size_12;
	font-weight: $weight_strong;
	text-decoration: none;
	display: block;
	float: left;
}
@mixin h1_style{
	margin: 0px 0px 5px 0px;
	font:{
		weight: $weight_normal;
		size: 20px;
	}
	line-height: 20px;
}
@mixin h2_style{
	margin: 0px 0px 5px 0px;
	font: {
      weight: $weight_normal;
      size: 18px;
    }
	line-height: 18px;
}
@mixin h3_style{
	margin: 0px 0px 5px 0px;
	font: {
      weight: $weight_normal;
      size: 17px;
    }
	line-height: 17px;
}
@mixin h4_style{
	margin: 0px 0px 5px 0px;
	font: {
      weight: $weight_normal;
      size: 16px;
    }
	line-height: 16px;
}
@mixin h5_style{
	margin: 0px 0px 5px 0px;
	font: {
      weight: $weight_normal;
      size: 15px;
    }
	line-height: 15px;
}
@mixin h6_style{
	margin: 0px 0px 5px 0px;
	font: {
      weight: $weight_normal;
      size: 14px;
    }
	line-height: 14px;
}
@mixin h2_pane_title{
	margin: 0px 0px 20px 0px;
	font: {
      weight: $weight_normal;
      size: 36px;
    }
	line-height: 36px;
}
/*@mixin h2_pane_title{
	padding-right: 5px;
	color: $dark_black;
	font:{
		size: $font-size_12;
	}
	background-color: none;
}*/

@mixin grey_box{ /*for comment-form*/
	padding: $padding_10;
	@include border-radius($radius_5, $radius_5); 
	background-color: $light_grey;
}


