/*
Document   : global_vars_a_mixins
Created on : December, 2012, 
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/


/* color variables */
$bg_grey: #E5E5E5;         /* main background*/
$bg_white: #ffffff;
$title_color: #525252;
$bg_light_grey: #EEEEEE;   /* background*/
$bg_dark_white: #F6F6F6; /*background for quicktabs li*/
$dark_gray: #888888;
$light_gray: #dedede;
$background_image: none;
$border_style: 1px solid;
$bg_dark_gray: #AFAFAF; /*background for pane titles, table th*/
$bg_none: none;
$color_black: #202020; /* color for right sidebar, pane title*/
$user_menu_border_color: #847C76;
$bg_alert_color: #FFDFE4;
$bg_bg_alert: #eed0d5;
$alert_color: #CC000C;

$completed_color: #088A58;

$comment_border_bottom: 1px solid #F4F4F4;

$user_menu_border-bottom: 1px solid #908984;
$menu_top_link: #7b726b;        /* left sidebar link*/
$menu_color_top_shadow: #b6b6b6; 
$menu_border_gray: #908984;

$border_right: 1px solid #d9d9d9; /* right navigation border*/
$left_menu_link_hover: #fdf8f4; /* menu link hover*/
$arrow_url: url("../images/arrows/arrow.gif") no-repeat 100% center #ffa800;
$left_menu_link_active: #000000;
$left_menu_item_border_top: 2px solid #fd8300;
$left_menu_item_border_bottom: 2px solid #fd8300;
$left_menu_link_border_active: #ffa800;
$left_menu_link_border_bottom: #756c65;

@mixin page_top_tabs{
	-moz-box-shadow: 2px 3px 4px $menu_color_top_shadow;
    -webkit-box-shadow: 2px 3px 4px $menu_color_top_shadow;
	box-shadow: 2px 3px 4px $menu_color_top_shadow;
	height: 42px;
	background-color: $bg_white;
	border-bottom: 2px solid $left_menu_link_border_active;
}


/* default styles */

$font_weight: normal;

$h1_size: 32px;
$h1_height: 32px;
$h1_align: left;
$h1_margin_bottom: 20px;

$h2_size: 36px;
$h3_height: 36px;
$h2_margin-top: 1.5em;
$h2_align: left;

$h3_size: 19px;
$h3_height: 19px;
$h3_margin_bottom: 20px;

$h4_size: 14px;
$h4_height: 14px;
$h4_margin_bottom: 20px;

$h5_size: 22px;
$h5_height: 22px;
$h5_margin_bottom: 20px;

$h6_size: 19px;
$h6_height: 19px;
$h6_margin_bottom: 20px;

/* margin and padding */

$body_family: Arial, Helvetica, sans-serif;
$body_align: left;
$body_height: 1.5em;

$body_strong_weight: bold;
$body_em_style: italic;

$ul_line_height: 1.4em;

$ol_style: decimal;
$ol_position: inside;
$ol_weight: bold;
$ol_height: 2em;

$list_style_image: none;
$list_style_type: none;

$border_bottom: none;
$width_item: 200px;
