@import "global_vars_a_mixins";
ul.primary,
ul.secondary {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  background-color: $white;
  border: medium none
}

ul.primary li,
ul.secondary li {
  float: left; /* LTR */
}

/*
 * Primary tabs
 */

ul.primary li {
  margin: 0; /* LTR */
  display: block;
}


ul.primary a:link,
ul.primary a:visited {
  margin: 0;
  padding: 0 20px;
  letter-spacing: 1px;
  text-align: center;
  @include text_bold_12;
  height: 42px;
  line-height: 42px;
  min-width: 80px;
  background: $white;
  border: none;
}


ul.primary a.active, 
ul.primary a.active:hover {
  *zoom: 1;
  background-color: $orange;
  color: $black;
}
ul.primary li a:hover{
  background-color: $white;
}
ul.primary li.active a, 
ul.primary li.active a:hover, 
ul.primary li.active a:focus{
  border: none;
}
ul.primary li a:hover,
ul.primary li a:focus {
  border-color: #ccc;
  color: $black;
}
ul.primary a:link,
ul.primary a:visited {
  $dark_brown: #7b726b;
}
/*
 * Secondary tabs
 */

