@import "global_vars_a_mixins";

.maintenance-page {
  background-color: $dark_brown;
  font-size: 14px;
  background-color: $dark_brown;
  @include filter-gradient(#a69a91, $dark_brown, horizontal); 
  @include background-image(radial-gradient(center top, ellipse cover,  #a69a91 25%, $dark_brown 60%));
  background-position: center top;
  background-repeat: no-repeat;
  #branding {
	padding: 20px 30px 15px 20px;
	overflow: hidden;
	font-size: 38px;
	line-height: 38px;
	border-bottom: 1px solid #e5e5e5;
	.logo-wrapper {
	  float: left;
	}
	h1.page-title {
	  margin-top: 30px;
	  float: right;	
	  font-size: 36px;
      line-height: 36px;
	}
  }
  #page-top {
    margin: 60px auto 0;
    width: 800px;
	background: #ffffff;
	@include box-shadow($black 0px 0px 5px);
	@include border-radius(5px);
  }
  #videos {
    margin: 20px auto 0;
	padding: 25px 30px 15px;
    background-color: $white;
    width: 740px;
	@include box-shadow($black 0px 0px 5px);
	@include border-radius(5px);
	overflow: hidden;
	h3.title {
	  margin: 0 0 20px;
	  font-size: 20px;
      font-weight: normal;
      line-height: 20px;
    }
	.video-box {
	  margin-right: 50px;
	  float: left;
	  width: 170px;
	  iframe {
		border: 1px solid $silver; 
	  }
	  a {
	    text-decoration: underline;
		display: block;
		line-height: 17px;
		&:hover {
		  color: $grey_light;
		}
	  }
	}
  }
  .page-wrapper {
    padding: 10px 30px 15px;
	#sidebar-first {
	  margin-right: 40px;
	  float: left;
	  width: 200px;
	}
    .task-list {
      padding-left: 0px;
	  list-style-type: none;
	  float: left;
	  li {
	    background: url('../images/list.png') no-repeat 0 5px;
		line-height: 35px;
        padding-left: 40px;
		&.active {
		  background: url('../images/list_active.png') no-repeat 0 5px;
		  color: #fba125;
		  font-weight: normal;
		}
		&.done {
		  background: url('../images/list_done.png') no-repeat 0 5px;
		  color: #0c8b5a;
		}
	  }
    }
  }
  #content {
	float: left;
	width: 500px;
  }
  #sponsors {
	margin-top: 30px;
	text-align: center;
  }
}
