@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

$white: #ffffff;
$dark_brown: #7b726b; /*---------for background----------*/
$black: #000000; /*---------for shadow----------*/
$grey_light: #756c65; /*---------for link hover----------*/
$silver: #dedede;
$orange: #FFA800;
$dark_orange: #fd8300;