/*
Document   : global_vars_a_mixins
Created on : December, 2012, 
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*******************/
/* IMPORTS
/*******************/

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/*******************/
/* VARIABLES
/*******************/

$body_align: left;
$body_height: 1.5em;

$padding_15: 15px;
$weight_normal: normal;

/* color variables */
$bright_grey: #E5E5E5;         /* main background*/
$white: #ffffff;
$grey: #645c57;
$light_grey: #EEEEEE;   /* background*/
$dark_white: #F6F6F6; /*background for quicktabs li*/
$dark_grey: #888888;
$silver: #dedede;
$dark_silver: #AFAFAF; /*background for pane titles, table th*/
$dark_black: #202020; /* color for right sidebar, pane title*/
$light_brown: #847C76;
$white_grey: #C0C0C0; /* for pain search */
$white_light: #F4F4F4;
$light_silver: #e7e7e7;
/*for left menu*/
$light: #fdf8f4; /*for menu hover*/
$grey_light: #756c65;  /*for menu item grey border, */
$grey_orange: #e7d4c5; /*link color*/
/*styles for alert*/
$pink: #eed0d5;
$red: #CC000C;
$light_pink: #FFDFE4;
$green: #088A58;
$dark_pink: #ff0ff0; /*color for mark*/
$dark_brown: #7b726b;        /* left sidebar link*/
$silver_grey: #b6b6b6; 
$brown: #908984;
$black: #000000;
$orange: #FC9822;
$dark_orange: #fd8300;
$silver_light: #d9d5d2; /*for border*/
$grey_dark: #5a5a5a; /*grey link color*/
$silverlight: #645c57; /*for label*/
$black_dark: #393431;
/*styles for border*/
$radius_8: 8px;
$radius_5: 5px;

/*styles for text*/
$font_family: Arial, Helvetica, sans-serif;
$value100: 100%;

/*styles for ul*/
$width_item: 200px;

$drab: #747474;
$light_drab: #959595;

@mixin ul{
	margin: 0px 0px 0px 10px;
	padding: 0px;
	li {
	  list-style-type: disc;
	}
}
@mixin ol{
	margin: 0px 0px 0px 10px;
	padding: 0px;
	li {
	  list-style-type: decimal;
	}
}
/*styles for mixins*/
@mixin rounded_corners{/*styles for filter box*/ 
	padding: 10px;
	background-color: $bg_light_grey;
	@include border-radius(4px, 4px, 0, 0); 
}
@mixin rounded_corners_10{
	@include border-radius(10px); 
}
@mixin content_box{
	@include border-radius($radius_5, $radius_5); 
	background-color: $white;
}
@mixin text_bold_12{
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	float: left;
}



/*styles for h1, h2, h3, h4, h5, h6 mixins*/
@mixin headline($font_size, $size_line-height, $margin_bottom, $font-weight) {
	margin: 0px 0px $margin_bottom 0px;
	  font: {
		weight: $font-weight;
		size: $font_size;
	  }
	line-height: $size_line-height;
}

@mixin grey_box{ /*for comment-form*/
	padding: 10px;
	@include border-radius($radius_5, $radius_5); 
	background-color: $light_grey;
}

@mixin a_black{
	margin: 0;
	padding: 0 20px;
	letter-spacing: 1px;
	text-align: center;
	@include text_bold_12;
	height: 42px;
	line-height: 42px;
	min-width: 80px;
	border: none;
}
@mixin a_orange{
	*zoom: 1;
	background-color: $orange;
	color: $black;
}
@mixin dist_zero{
    margin: 0px;
	padding: 0px;
}
@mixin orange_border{
	border-top: 2px solid $dark_orange;
	border-bottom: 2px solid $dark_orange !important;
}