.pane-system-user-menu {
  margin-right: 15px;
  li a {
    font-size: 12px;
	line-height: 27px;
  }
}

/*
 * left region
 */

/*
 * middle region
 */
.panels-ipe-display-container{
	height: 100%;
}
.panels-flexible-row-erpal_panel_layout-main-row-middle {
    margin-right: 0;
}
.panels-flexible-region-erpal_panel_layout-center{
   	float: left;
    width: 100%;
	height: 100%;
}
#erpal_wrapper>.panel-col-first .inside {
    margin: 0 0 1em;
}
