@import "global_vars_a_mixins";

#erpal_wrapper .panel-panel.panel-col-last {
  float: left;
  width: $value100;
  .inside {
    margin-left: 150px;
	min-width: 440px;
	.ctools-collapsible-content {
	  .inside {
        margin-left: 0px;
	    min-width: 0px;
	  }
	}
    .pane-page-tabs {
	  margin-bottom: 0;
	  width: $value100;
	  ul.primary {
	    @include dist_zero;
		*zoom: 1;
		list-style: none;
		white-space: nowrap;
		border: none;
		li {
		  margin: 0;
	      float: left;
		  display: block;
		  position: relative;
		  z-index: 1;
		  a{
		    @include a_black;
			background-color: rgb(233,229,226); 
			@include filter-gradient(#e9e5e2, #d4d4d4, vertical);
			@include background-image(linear-gradient(top,  rgba(233,229,226,1) 0%,rgba(212,212,212,1) 100%));
     	    @include border-radius(5px 5px 0 0);
			height: 33px;
			line-height: 33px;
			min-width: 105px;
			@include box-shadow($black 0px 0px 5px);
			&:visited {
			  @include a_black;
			  color: $dark_brown;
			}
			&:hover {
			  background-color: $white;
			  color: $black;
			}
			&.active {
			  @include a_orange;
			  border: medium none;
			  &:hover{
			    @include a_orange;
			    background-color: $orange;
			  }
			}
		  }		
		}
		.active {
		  border-left: 2px solid $dark_orange;
		  border-right: 2px solid $dark_orange;
		}
	  }
	} 
  }
}



