@import "global_vars_a_mixins";

#erpal_wrapper .panel-panel.panel-col-last {
  float: left;
  width: $value100;
  height: 100%;
  .inside {
    margin-left: 140px;
	min-width: 440px;
	height: 100%;
	.ctools-collapsible-content {
	  .inside {
        margin-left: 0px;
	    min-width: 0px;
	  }
	}
    .pane-page-tabs {
	  margin-bottom: 0;
	  width: $value100;
	  ul.primary {
	    @include dist_zero;
		*zoom: 1;
		list-style: none;
		white-space: nowrap;
		border: none;
		li {
		  margin: 0 3px 0 0;
	      float: left;
		  display: block;
		  background-color: rgb(233,229,226); 
		  @include filter-gradient(#e9e5e2, #d4d4d4, vertical);
		  @include background-image(linear-gradient(top,  rgba(233,229,226,1) 0%,rgba(212,212,212,1) 100%));
		  @include box-shadow(#545151 0 -2px 1px 0);
		  @include border-radius(5px 5px 0 0);
		  a {
		    @include a_black;
			@include border-radius(5px 5px 0 0);
			height: 33px;
			line-height: 33px;
			min-width: 105px;
			position: relative;
		    z-index: 1;
			&:visited {
			  @include a_black;
			  color: $dark_brown;
			}
			&:hover {
			  color: $black;
			}
			&.active {
			  @include a_orange;
			  background: $white;
			  border: medium none;
			  z-index: 10;
			  color: $orange;
			  &:hover{
			    color: $orange;
			  }
			}
		  }		
		}
	  }
	} 
  }
}



