/**
 *  @file commander/css/commander.css
 *  @author Thiemo Müller
 *  @version 1.0
 *  
 *  Style console overlay & execute-block
 */
#commander-console-content {
  position:absolute;
  top:4px;
  bottom:32px;
  left:0;
  right:0;
}
#commander-console-log {
  position:absolute;
  top:4px;
  right:25%;
  bottom:4px;
  left:4px;
  overflow:auto;
  overflow-x:show;
  overflow-y:scroll;
  cursor:text;
  right:4px;
}
#commander-console-overlay-execute-form #commander-console-overlay-log .entry,
#commander-console-log .entry {
  padding:2px 4px;
  clear:both;
}
#commander-console-overlay-execute-form #commander-console-overlay-log .entry-type-debug,
#commander-console-log .entry-type-debug {
  color:#666;
}
#commander-console-overlay-execute-form #commander-console-overlay-log .entry-type-info,
#commander-console-log .entry-type-info {
  color:#00F;
}
#commander-console-overlay-execute-form #commander-console-overlay-log .entry-type-warning,
#commander-console-log .entry-type-warning {
  color:#F80;
}
#commander-console-overlay-execute-form #commander-console-overlay-log .entry-type-error,
#commander-console-overlay-execute-form #commander-console-overlay-log .entry-type-critical,
#commander-console-overlay-execute-form #commander-console-overlay-log .entry-type-alert,
#commander-console-overlay-execute-form #commander-console-overlay-log .entry-type-emergency,
#commander-console-log .entry-type-error,
#commander-console-log .entry-type-critical,
#commander-console-log .entry-type-alert,
#commander-console-log .entry-type-emergency {
  color:#F00;
}
#commander-console-overlay-execute-form #commander-console-overlay-log .request-message,
#commander-console-log .request-message {
  background:#88F;
}
#commander-console-overlay-execute-form #commander-console-overlay-log .request-message.fade,
#commander-console-log .request-message.fade {
  background:#FFF;
  transition: background 2s;
  -moz-transition: background 2s; /* Firefox 4 */
  -webkit-transition: background 2s; /* Safari and Chrome */
  -o-transition: background 2s; /* Opera */
}
#commander-console-overlay-execute-form #commander-console-overlay-log .entry-datetime,
#commander-console-log .entry-datetime {
  float:right;
  visibility:hidden;
  color:#666;
  line-height:101%;
}
#commander-console-overlay-execute-form #commander-console-overlay-log .entry:hover .entry-datetime,
#commander-console-log .entry:hover .entry-datetime {
  visibility:visible;
}
#commander-console-history {
  position:absolute;
  top:8px;
  right:8px;
  bottom:50%;
  left:75%;
  margin:-4px -4px 0px 0px;
  overflow:auto;
  overflow-x:show;
  overflow-y:scroll;
  display:none;
}
#commander-console-shortcuts {
  position:absolute;
  top:50%;
  right:8px;
  bottom:8px;
  left:75%;
  margin:0px -4px -4px 0px;
  overflow:auto;
  overflow-x:show;
  overflow-y:scroll;
  display:none;
}
#commander-console-log,
#commander-console-history,
#commander-console-shortcuts {
  background:#FFF;
}
#commander-console-input {
  position:absolute;
  height:32px;
  right:0;
  bottom:0;
  left:0;
}
#commander-console-input #commander-console-overlay-execute-form {
  margin:0;
}
#commander-console-input .form-item {
  margin:0;
  /*float:left;*/
}
#commander-console-input .form-item-command {
  position:absolute;
  top:4px;
  right:136px;
  bottom:4px;
  left:4px;
}
#commander-console-input #edit-command-commander-console-overlay {
  outline:none;
  background-color:#FFF;
  margin:0px 0px 0px 0px;
  height:100%;
  width:100%;
  padding:0px 0px 0px 4px;
  box-shadow:0px 0px 3px rgba(0,0,0,.6);
}
#commander-console-input .form-submit,
#commander-console-input #edit-execute,
#commander-console-input #edit-execute-commander-console-overlay {
  position:absolute;
  width:120px;
  height:24px;
  right:4px;
  bottom:4px;
  margin:0;
  background:#FFF;
  color:#000;
  border:none;
  outline:none;
  box-shadow:0px 0px 3px rgba(0,0,0,.6);
}


#commander-execute-block .entry-datetime {
  display:none;
}

#modal-content {
  overflow:visible;
}


#commander-console-overlay-execute-form #commander-console-overlay-log {
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 26px;
  left: 0;
}
#commander-console-overlay-execute-form .form-item-command {
  position: absolute;
  right: 200px;
  bottom: 0;
  left: 0;
  height: 26px;
  margin: 0;
}
#commander-console-overlay-execute-form .form-item-command input {
  width:100%;
  line-height:16px;
}
#commander-console-overlay-execute-form .form-submit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 197px;
  height: 26px;
  padding: 4px 17px;
  margin: 0;
}