body{
    color: #3B3B3B;
	background: #E5E5E5;
}

/*
 * menu item color
 */
.pane-system-user-menu li a, 
.pane-menu-menu-erpal-menu ul li a {
    color: #e7d4c5;
}

/*
 * tabs background
 */
.panels-flexible-row .tabs-region .panels-flexible-region-erpal_panel_layout-tabs_region-inside {
	background-color: #EEEEEE;
}
ul.primary li a:hover,
ul.primary li a:focus {
  border-color: #ccc;
  color: #000000;
}
ul.primary a:link,
ul.primary a:visited {
    color: #7b726b;
}
ul.primary li a, ul.primary li a:hover{
	background-color: transparent;
}
ul.primary li {
  border-right: 1px solid #d9d9d9;
}
ul.primary li.first {
  border-left: 1px solid #d9d9d9;
}
ul.primary li.active {
  border-left: 2px solid #fd8300;
  border-right: 2px solid #fd8300;
}

ul.primary a.active, ul.primary a.active:hover {
  background-color: #ffa800 !important;
  color: #000000;
}

/*
 * top background
 */
.top-region {
    background-color: #22130C;
}

/*
 * left menu item color
 */
.pane-menu-menu-erpal-menu ul li a:hover, 
.pane-menu-menu-erpal-menu ul li a:hover,
.pane-system-user-menu li a:hover{
	color: #fdf8f4;
}
.pane-menu-menu-erpal-menu ul li a.active,
.pane-menu-menu-erpal-menu ul li a.active:hover,
.pane-menu-menu-erpal-menu ul li ul li.last a.active-trail{
	background: url("../images/arrow.png") no-repeat 100% 0 #ffa800;
	color: #000000;
}
.pane-menu-menu-erpal-menu ul li a.active,
.pane-menu-menu-erpal-menu ul li a.active:hover,
.pane-menu-menu-erpal-menu ul li ul li.last a.active-trail {
	border-top: 2px solid #fd8300;
	border-bottom: 2px solid #fd8300;
}
.panels-flexible-column-erpal_panel_layout-3 {
    background-color: #7B726B;
}
.pane-system-user-menu ul{
	border-bottom: 1px solid #908984;
}

/*
 *  Buttons
 */
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  color: #5a5a5a;
}
input.form-submit,
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
}

input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}

.panels-flexible-row .panels-flexible-region-erpal_panel_layout-tabs_region_ {
    width: 100%;
}
.panels-flexible-row.panels-flexible-row-erpal_panel_layout-5.panels-flexible-row-first.clearfix.tabs-region{
	-moz-box-shadow: 2px 3px 4px #b6b6b6;
    -webkit-box-shadow: 2px 3px 4px #b6b6b6;
	box-shadow: 2px 3px 4px #b6b6b6;
	height: 42px;
	background-color: #ffffff;
	border-bottom: 2px solid #ffa800;
}
.pane-menu-menu-erpal-menu ul li {
	border-top: 1px solid #908984;
}
.pane-menu-menu-erpal-menu ul li.last  {
	border-bottom: 1px solid #756c65;
}
.pane-menu-menu-erpal-menu ul li a{
	border-top: 1px solid #756c65;
}
.pane-menu-menu-erpal-menu ul li.last ul li.last a, 
.pane-menu-menu-erpal-menu ul li.last a{
	border-bottom: 1px solid #908984;
}
.pane-menu-menu-erpal-menu ul li.last ul li.last a.active-trail, 
.pane-menu-menu-erpal-menu ul li.last a.active-trail.active, 
.pane-menu-menu-erpal-menu ul li.expanded a.active-trail.active{
	border-bottom: 2px solid #fd8300;
}
h2.pane-title {
    color: #7B726D;
}
h1 {
	color: #525252;
}
