/* line 1, ../sass/color.scss */
.block-content .view-content .views-table td {
  border-bottom: 1px solid #E5E5E5;
}

/* line 4, ../sass/color.scss */
.view-filters .rel-register-build {
  background-color: #EEEEEE;
}

/* line 7, ../sass/color.scss */
.block-content .view-content .views-table th {
  background-color: #AFAFAF;
}

/* line 12, ../sass/color.scss */
.block-content .view-content .views-table tr.info,
.block-content .view-content .views-table tr.even,
.block-content .view-content .views-table tr:nth-child(2n+2) {
  background-color: #ffffff;
}

/* line 16, ../sass/color.scss */
.item-list .pager {
  background: #AFAFAF;
}

/* line 19, ../sass/color.scss */
ul.pager li a {
  color: #525252 !important;
}

/* hightlight of different states of tasks/projects */
/* line 25, ../sass/color.scss */
tr.odd.alert,
tr.even.alert {
  background-color: #FFDFE4 !important;
}

/* line 30, ../sass/color.scss */
tr.odd.alert .active,
tr.even.alert .active {
  background-color: #eed0d5 !important;
}

/* line 37, ../sass/color.scss */
tr.odd.completed,
tr.even.completed {
  background-color: #EEEEEE !important;
}

/* line 44, ../sass/color.scss */
.pane-node-body,
article.comment {
  background-color: #ffffff;
}

/* line 47, ../sass/color.scss */
.comment .submitted {
  border-bottom: 1px solid #F4F4F4;
}

/* crm activity */
/* line 52, ../sass/color.scss */
.field-type-datetime fieldset {
  border: none;
}

/*---------------------------------dashboard styles-----------------------------------------*/
/* line 56, ../sass/color.scss */
#homebox .homebox-column {
  background: none;
}

/* line 59, ../sass/color.scss */
#homebox .more-link, #homebox .portlet-title, #homebox .homebox-portlet .portlet-header {
  background-color: #F6F6F6;
}

/*-------------------------------------crm styles-------------------------------------*/
/* line 65, ../sass/color.scss */
.node-type-erpal-contact .region-sidebar-left .panel-pane .field-collection-view table th,
.node-type-erpal-contact .region-sidebar-left .panel-pane .action-links li {
  background-color: #AFAFAF;
}

/* line 68, ../sass/color.scss */
.node-type-erpal-contact .region-sidebar-left .panel-pane .field-collection-container td {
  border-bottom: 1px solid #e7e7e7;
}
