/* line 1, ../sass/color.scss */
.ctools-collapsible-container {
  background-color: #DEDEDE;
  border: 1px solid #EEEEEE;
}

/* line 5, ../sass/color.scss */
.ctools-collapsible-processed h2.pane-title {
  background-color: #AFAFAF;
}

/* line 8, ../sass/color.scss */
.ctools-collapsible-processed .ctools-collapsible-content h2.pane-title {
  background: none;
}

/* line 12, ../sass/color.scss */
.ctools-collapsible-processed h2.pane-title,
.ctools-collapsible-processed .ctools-collapsible-content h2.pane-title {
  color: #202020;
}

/* line 15, ../sass/color.scss */
.ctools-collapsible-processed .panel-separator {
  border-bottom: 1px solid #EEEEEE;
}

/* line 18, ../sass/color.scss */
.block-content .view-content .views-table td {
  border-bottom: 1px solid #E5E5E5;
}

/* line 21, ../sass/color.scss */
.view-filters .rel-register-build {
  background-color: #EEEEEE;
}

/* line 24, ../sass/color.scss */
.block-content .view-content .views-table th {
  background-color: #AFAFAF;
}

/* line 29, ../sass/color.scss */
.block-content .view-content .views-table tr.info,
.block-content .view-content .views-table tr.even,
.block-content .view-content .views-table tr:nth-child(2n+2) {
  background-color: #ffffff;
}

/*---------------ticket details-----------*/
/* line 34, ../sass/color.scss */
.node-erpal-task .columns-inner {
  background-color: #ffffff;
}

/* line 38, ../sass/color.scss */
#tabs-tasks_by_project_panel-middle-3 #content-column .content-inner,
#tabs-tickets_by_project_panel-middle-3 #content-column .content-inner {
  border-bottom: 1px solid #E5E5E5;
}

/* line 42, ../sass/color.scss */
.item-list .pager {
  background: #AFAFAF;
}

/* line 45, ../sass/color.scss */
ul.pager li a {
  color: #525252 !important;
}

/* line 48, ../sass/color.scss */
#tabs-tasks_by_project_panel-middle-1 th a {
  color: #525252;
}

/* hightlight of different states of tasks/projects */
/* line 55, ../sass/color.scss */
tr.odd.alert,
tr.even.alert {
  background-color: #FFDFE4 !important;
}

/* line 60, ../sass/color.scss */
tr.odd.alert .active,
tr.even.alert .active {
  background-color: #eed0d5 !important;
}

/* line 67, ../sass/color.scss */
tr.odd.completed,
tr.even.completed {
  background-color: #EEEEEE !important;
}

/* line 74, ../sass/color.scss */
.pane-node-body,
article.comment {
  background-color: #ffffff;
}

/* line 77, ../sass/color.scss */
.comment .submitted {
  border-bottom: 1px solid #F4F4F4;
}

/* crm activity */
/* line 82, ../sass/color.scss */
.field-type-datetime fieldset {
  border: none;
}

/*---------------------------------dashboard styles-----------------------------------------*/
/* line 86, ../sass/color.scss */
#homebox .homebox-column {
  background: none;
}

/* line 89, ../sass/color.scss */
#homebox .more-link, #homebox .portlet-title, #homebox .homebox-portlet .portlet-header {
  background-color: #F6F6F6;
}

/*-------------------------------------crm styles-------------------------------------*/
/* line 95, ../sass/color.scss */
.node-type-erpal-contact .region-sidebar-left .panel-pane .field-collection-view table th,
.node-type-erpal-contact .region-sidebar-left .panel-pane .action-links li {
  background-color: #AFAFAF;
}

/* line 98, ../sass/color.scss */
.node-type-erpal-contact .region-sidebar-left .panel-pane .field-collection-container td {
  border-bottom: 1px solid #e7e7e7;
}
