<<<<<<< HEAD
/*
 * left region
 */
/* line 7, ../sass/layout.scss */
.pane-menu-menu-erpal-menu {
  margin-top: 10px;
  width: 150px;
}

/* line 11, ../sass/layout.scss */
.pane-system-user-menu li a {
  font-size: 11px;
}

/*
 * middle region
 */
/* line 17, ../sass/layout.scss */
.panels-ipe-display-container {
  height: 100%;
}

/* line 20, ../sass/layout.scss */
.panels-flexible-row-erpal_panel_layout-main-row-middle {
  margin-right: 0;
}

/* line 23, ../sass/layout.scss */
.panels-flexible-region-erpal_panel_layout-center {
  float: left;
  width: 100%;
  height: 100%;
}

/* line 28, ../sass/layout.scss */
#erpal_wrapper > .panel-col-first .inside {
  margin: 0 0 1em;
}

/*
 * middle region left column
 */
/*
.panel-2col .panel-col-first {
	margin-right: -250px;
    float: left;
    width: 100%;
	max-width: 800px;
}*/
/*
 * middle region right column
 */
/*.panel-2col .panel-col-last {
    float: right;
    width: 250px;
}*/
=======
/*
 * left region
 */
/* line 7, ../sass/layout.scss */
.pane-menu-menu-erpal-menu {
  margin-top: 10px;
  width: 150px;
}

/* line 11, ../sass/layout.scss */
.pane-system-user-menu li a {
  font-size: 11px;
}

/*
 * middle region
 */
/* line 17, ../sass/layout.scss */
.panels-ipe-display-container {
  height: 100%;
}

/* line 20, ../sass/layout.scss */
.panels-flexible-row-erpal_panel_layout-main-row-middle {
  margin-right: 0;
}

/* line 23, ../sass/layout.scss */
.panels-flexible-region-erpal_panel_layout-center {
  float: left;
  width: 100%;
  height: 100%;
}

/* line 28, ../sass/layout.scss */
#erpal_wrapper > .panel-col-first .inside {
  margin: 0 0 1em;
}

/*
 * middle region left column
 */
/*
.panel-2col .panel-col-first {
	margin-right: -250px;
    float: left;
    width: 100%;
	max-width: 800px;
}*/
/*
 * middle region right column
 */
/*.panel-2col .panel-col-last {
    float: right;
    width: 250px;
}*/
>>>>>>> 63fb14df39709f96b134c0c5cb96afb12a6b8683
