ul.menu li {
    margin: 0;
}
.pane-system-user-menu li {
    display: inline;
    list-style-image: none;
    list-style-type: none;
}

.local_tasks_menu ul ul { display:none; position:absolute; width: 246px; z-index:999}