body.panels-ipe{
	margin-bottom: 0 !important;
}
/* =============================================================================
 *  Top region
 * ========================================================================== */
.panel-flexible.panels-flexible-erpal_panel_layout.top-region {
    height: 125px;
}
.panels-flexible-region-erpal_panel_layout-tabs_region{
    width: 100%;
}

/* =============================================================================
 *   Logo
 * ========================================================================== */
.pane-page-logo {
	margin-bottom: 10px;
	padding: 0;
	text-align: center;
}



/* =============================================================================
 *   Left region
 * ========================================================================== */
.panels-flexible-region-erpal_panel_layout-left_region{
    width: 150px;
}
.panels-flexible-region-inside-first {
    padding-right: 0;
}
.pane-menu-menu-erpal-menu ul,
.pane-menu-menu-erpal-menu ul li ul {
    margin: 0;
    padding: 0;
}
.pane-menu-menu-erpal-menu ul li {
    padding: 0;
    list-style-image: none;
    list-style-type: none;
}
.pane-menu-menu-erpal-menu ul li ul li.last,
.pane-menu-menu-erpal-menu ul li.expanded.active-trail ul li a {
	border-bottom: none;
}
.pane-menu-menu-erpal-menu ul li ul li a {
	padding-left: 25px;
}
.pane-menu-menu-erpal-menu ul li a {
    padding: 9px 17px 9px 10px;
	display: block;
	font-size: 14px;
}
.pane-system-user-menu ul{
	margin: 0px;
	padding: 0;
	overflow: hidden;
}
.pane-system-user-menu li{
	padding: 0;
	float: left;
	width: 74px;
	text-align: center;
}
.pane-system-user-menu li.first{
	border-right: 1px solid #847C76;
}
.panels-flexible-erpal_panel_layout-inside,
.panels-flexible-erpal_panel_layout-left,
.panels-flexible-column,
.left-region .panels-flexible-column-inside,
.left-region .panels-flexible-row,
.left-region .panels-flexible-row-inside {
	height: 100%
} 
.tabs-region .block {
	margin-bottom: 0px;
}
.panels-flexible-erpal_panel_layout-left{
	float: left;
	position: absolute;
}
.pane-search-form{
	margin-bottom: 12px;
}
.ui-tabs .ui-tabs-nav li {
	margin: 0px;
}
/*-----------------Search Block-------------------------------*/
#search-block-form .form-text{
	margin-left: 5px;
	width: 130px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #C0C0C0;
    font-size: 11px;
}



/* =============================================================================
 *   Tabs
 * ========================================================================== */
.panels-flexible-row .tabs-region .panels-flexible-region-erpal_panel_layout-tabs_region-inside{
	margin-left: 150px;
	height: 52px;
}
.panels-flexible-row .tabs-region .panels-flexible-region-erpal_panel_layout-tabs_region-inside .panels-ipe-region{
	height: 42px;
}

/* =============================================================================
 *   Middle region
 * ========================================================================== */
#user-login input.form-text {
	width: 200px;
}
.panel-2col-stacked .inside .inside, 
.pane-content .panels-flexible-region .panels-flexible-region-erpal_panel_layout-tabs_region-inside {
    background: none;
    border: none;
}
.panels-flexible-row{
	padding: 0px;
}
.panels-flexible-column-inside-last {
    padding: 0;
}
.panels-flexible-row-erpal_panel_layout-main-row-inside, .panels-flexible-row-erpal_panel_layout-1-inside {
	margin-right: 20px;
	margin-left: 30px;
}
.panels-flexible-row-erpal_panel_layout-1 .tabs-region, .panels-flexible-row-erpal_panel_layout-main-row .tabs-region{
	display: none;
}
.panels-flexible-column-erpal_panel_layout-main{
    width: 100%;
	float: left;
}
.panels-flexible-row.panels-flexible-row-erpal_panel_layout-5.panels-flexible-row-first.clearfix.tabs-region{
	margin-bottom: 30px;
}
.panels-flexible-erpal_panel_layout-middle {
    margin-left: 150px;
    min-width: 440px;
}
.panels-flexible-erpal_panel_layout {
    height: 100%;
}

/* =============================================================================
 *   first row - middle section
 * ========================================================================== */
.panels-flexible-region-erpal_panel_layout-row_first_right {
    margin-left: 20px;
}
.row-first-left{
	min-width: 360px;
}

/* =============================================================================
 *   erpal_content_layout
 * ========================================================================== */
.erpal-content-layout-template .region-sidebar-left,
.erpal-content-layout-template .region-sidebar-right{
	float: left;
}
.erpal-content-layout-template .region-sidebar-right{
    margin: 0 0 0 20px;
    width: 250px;
}
.erpal-content-layout-template .content-inner{
	padding-bottom: 30px;
	clear: both;
	max-width: 1100px;
	min-width: 1100px;
}
.erpal-content-layout-template .region-sidebar-left{
	max-width: 800px;
	min-width: 360px;
    width: 100%;
}

/* =============================================================================
 *   Projects
 * ========================================================================== */
.region-sidebar-right .pane-page-actions li{
	margin: 0 0 7px;
	list-style-type: none;
}
.region-sidebar-right .pane-page-actions li a{
	padding: 6px 0px;
	display: block;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px; 
	border-radius: 11px;
	box-shadow: 2px 2px 2px #888888;
	text-align: center;
	font-size: 1.1em;
}
#mini-panel-task_status_panel{
	padding: 10px 20px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px; 
	border-radius: 11px;
}
.panel-display .pane-entity-field h2.pane-title {
	margin-top: 11px;
	padding-right: 5px;
	float: left;
	font-size: 14px;
    font-weight: bold;
}
.panel-display .pane-entity-field .block-content{
	float: left;
}
.panel-display .pane-entity-field  .ds-form .group-left {
    width: auto;
	float: none;
}
.ctools-collapsible-content .panel-display .pane-entity-field .block-content, 
.ctools-collapsible-content .panel-display .pane-entity-field h2.pane-title{
	float: none;
}
.panel-display .pane-entity-field .form-item label,
.panel-display .pane-entity-field .rel-register-link {
    float: left;
}
.panel-display .pane-entity-field  .field-type-taxonomy-term-reference{
	margin: 0px;
}
.panel-display .pane-entity-field .form-item {
	margin-bottom: 0px;
}
.panel-display .tabs-processed  .ui-widget-header{
	padding-left: 0;
	background: none;
	border: none;
}
.panel-display .ui-widget-content{
	background: none;
	border: none;
}
.panel-display .ui-tabs .ui-tabs-panel{
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px; 
	border-radius: 11px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}
.panel-display .ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.2em 1.3em;
    text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	min-width: 100px;
}

.ctools-collapsible-container .ctools-collapsible-handle {
    cursor: pointer;
}

/*
 *  collapsible
 */
 .ctools-collapsible-processed h2.pane-title {
    margin: 0;
    padding: 3px 5px 0px 40px;
	font-size: 13px;
}
.ctools-collapsible-processed .ctools-collapsible-content h2.pane-title{
	padding-left: 0;
	color: #525252;
}
.ctools-collapsible-processed .ctools-collapsible-content{
	padding-top: 10px;
}
.ctools-collapsible-container .block-content a{
	text-decoration: underline;
}
.ctools-collapsible-processed section{
	margin-bottom: 10px;
	padding-left: 10px;
	
}
.ctools-collapsible-processed .panel-separator{
	height: 1px;
	overflow: hidden;
}
.ctools-collapsible-processed ul{
	margin: 0;
	padding: 0px;
}
.ctools-collapsible-processed ul li{
	list-style-type: none;
}
.ctools-collapsible-processed .field-type-taxonomy-term-reference{
	margin: 0;
}
#mini-panel-task_status_panel .panel-separator{
	display: none;
}
#mini-panel-task_status_panel section{
	margin-bottom: 0;
	margin-right: 30px;
	float: left;
}
.block-content .local_tasks, #mini-panel-task_status_panel li{
	padding: 0px;
	list-style-type: none;
}
#mini-panel-task_status_panel  ul{
	padding-left: 5px;
}
.region-sidebar-right .panel-separator{
	display: none;
}
.ctools-collapsible-container .panel-separator{
	display: block;
}
.ctools-collapsible-container .no-title{
	padding-left: 10px;
}
/*
 *  table
 */
.block-content .view-content .views-table th{
	font-size: 14px;
}
.block-content .view-content .views-table td, .block-content .view-content .views-table th{
	padding: 15px;
}
.block-content .view-content .views-table{
	margin-top: 0;
	border: none;
}
.view-filters .rel-register-build{
	padding: 10px 15px;
	-webkit-border-top-left-radius: 11px;
	-moz-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
	-webkit-border-top-right-radius: 11px;
	-moz-border-radius-rightleft: 11px;
	border-top-right-radius: 11px;
}
.view-filters .rel-register-build .views-exposed-widgets{
	margin-bottom: 0px;
}
.block-content .view-content .views-table .views-field-title a,
.block-content .view-content .views-table .views-field-field-customer-ref{
	text-decoration: underline;
}
.view-filters .rel-register-build  .views-exposed-widget .rel-register-link{
	padding-top: 12px;
	padding-right: 20px;
	float: left;
}
.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.3em;
}
.view-empty{
	padding: 15px;
}
.local_tasks{
	margin: 0px;
}
/*--------------------------------for erpal task view row layout------------------------------------------*/
.erpal-task-view-row-layout .region-sidebar-left{
	width: 70%;
	float: left;
}
.erpal-task-view-row-layout .region-sidebar-right{
    margin-left: 20px;
    width: 28%;
	float: left;
}
.erpal-task-view-row-layout .content-inner{
	margin-bottom: 20px;
	clear: both;
	max-width: 1100px;
	min-width: 1100px;
}

/*---------------ticket details-----------*/
.field-name-task-title .field-item a{
	font-weight: bold;
}
.node-erpal-task .columns-inner{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
}
#tabs-tasks_by_project_panel-middle ul.field-items{
	padding: 0px;
	margin: 0px;
}
#tabs-tasks_by_project_panel-middle-3  .view-content .item-list ul li,
#tabs-tickets_by_project_panel-middle-3  .view-content .item-list ul li {
	margin: 12px 0 0;
}
#tabs-tasks_by_project_panel-middle-1,
#tabs-tasks_by_project_panel-middle-2,
#tabs-tasks_by_project_panel-middle-3,
#tabs-tickets_by_project_panel-middle-1,
#tabs-tickets_by_project_panel-middle-3,
#tabs-tickets_by_project_panel-middle-2 {
    background: transparent;
    border-radius: 0 0 0 0;
    padding: 0;
}
#tabs-tasks_by_project_panel-middle-3  #content-column .content-inner,
#tabs-tickets_by_project_panel-middle-3 #content-column .content-inner{
	padding: 15px;
	overflow: hidden;
}
#tabs-tasks_by_project_panel-middle-3  #content-column .content-inner .field-label,
#tabs-tasks_by_project_panel-middle-3  #content-column .content-inner .field-items,
#tabs-tasks_by_project_panel-middle-3 .region-sidebar-right .field-name-task-customer-node div,
#tabs-tickets_by_project_panel-middle-3 #content-column .content-inner .field-label,
#tabs-tickets_by_project_panel-middle-3 #content-column .content-inner .field-items,
#tabs-tickets_by_project_panel-middle-3 .region-sidebar-right .field-name-task-customer-node div {
	float: left;
}
#tabs-tasks_by_project_panel-middle-3 .region-sidebar-right .field-label-above,
#tabs-tickets_by_project_panel-middle-3 .region-sidebar-right .field-label-above{
	width: 100%;
}
#tabs-tasks_by_project_panel-middle-3 .field-label, 
#tabs-tickets_by_project_panel-middle-3 .field-label{
    margin: 0px !important;
}
#tabs-tasks_by_project_panel-middle-3 .region-sidebar-right .field-name-task-customer-node div,
#tabs-tickets_by_project_panel-middle-3 .region-sidebar-right .field-name-task-customer-node div {
	font-weight: bold;
}
#tabs-tasks_by_project_panel-middle-3 .region-sidebar-right .field-name-task-customer-node .field_customer a,
#tabs-tasks_by_project_panel-middle-3 .region-sidebar-right .field-label-above .field-items a,
#tabs-tickets_by_project_panel-middle-3 .region-sidebar-right .field-name-task-customer-node .field_customer a,
#tabs-tickets_by_project_panel-middle-3 .region-sidebar-right .field-label-above .field-items a {
	font-weight: normal;
	text-decoration: underline;
}
#tabs-tasks_by_project_panel-middle-3 .region-sidebar-right .field .field-label,
#tabs-tasks_by_project_panel-middle-3 .region-sidebar-right .field-name-task-customer-node div,
#tabs-tickets_by_project_panel-middle-3 .region-sidebar-right .field .field-label,
#tabs-tickets_by_project_panel-middle-3 .region-sidebar-right .field-name-task-customer-node div {
	padding-right: 5px;
}
#tabs-tasks_by_project_panel-middle-3 section.field,
#tabs-tickets_by_project_panel-middle-3 section.field{
	padding: 5px 0;
	overflow: hidden;
	clear: both;
}
#tabs-tasks_by_project_panel-middle-3 .view-content .item-list ul li.field-item,
#tabs-tickets_by_project_panel-middle-3 .view-content .item-list ul li.field-item{
	margin: 0px;
}
#tabs-tasks_by_project_panel-middle-3  .item-list ul,
#tabs-tickets_by_project_panel-middle-3  .view-content ul{
	margin: 0px;
	padding: 0px;
}
#tabs-tasks_by_project_panel-middle-2 .ctools-collapsible-container,
#tabs-tickets_by_project_panel-middle-2 .ctools-collapsible-container {
    background-color: transparent;
    border: none;
}
#tabs-tasks_by_project_panel-middle-2 .ctools-collapsible-content,
#tabs-tickets_by_project_panel-middle-2 .ctools-collapsible-content{
	padding-top: 0px;
}
.erpal-content-layout-template .single-row{
	max-width: 100%;
}
.field-name-files-count .field-items,
.field-name-comment-count .field-items{
	padding-top: 5px;
	width: 50%;
}
.inline_fields .field{
	margin-right: 50px;
	clear: none !important;
	float: left;
}
