body.panels-ipe{
	margin-bottom: 0 !important;
}
/* =============================================================================
 *  Top region
 * ========================================================================== */
.panel-flexible.panels-flexible-erpal_panel_layout.top-region {
    height: 125px;
}
.panels-flexible-region-erpal_panel_layout-tabs_region{
    width: 100%;
}

/* =============================================================================
 *   Logo
 * ========================================================================== */
.pane-page-logo {
	margin-bottom: 10px;
	padding: 0;
	text-align: center;
}



/* =============================================================================
 *   Left region
 * ========================================================================== */
.panels-flexible-region-erpal_panel_layout-left_region{
    width: 150px;
}
.panels-flexible-region-inside-first {
    padding-right: 0;
}
.pane-menu-menu-erpal-menu ul,
.pane-menu-menu-erpal-menu ul li ul {
    margin: 0;
    padding: 0;
}
.pane-menu-menu-erpal-menu ul li {
    padding: 0;
    list-style-image: none;
    list-style-type: none;
}
.pane-menu-menu-erpal-menu ul li ul li.last,
.pane-menu-menu-erpal-menu ul li.expanded.active-trail ul li a {
	border-bottom: none;
}
.pane-menu-menu-erpal-menu ul li ul li a {
	padding-left: 25px;
}
.pane-menu-menu-erpal-menu ul li a {
    padding: 9px 17px 9px 10px;
	display: block;
	font-size: 14px;
}
.pane-menu-menu-erpal-menu ul li a.active,
.pane-menu-menu-erpal-menu ul li a.active:hover {
	padding: 9px 17px;
}
.pane-system-user-menu ul{
	margin: 0px;
	padding: 0;
	overflow: hidden;
}
.pane-system-user-menu li{
	padding: 0;
	float: left;
	width: 74px;
	text-align: center;
}
.pane-system-user-menu li.first{
	border-right: 1px solid #847C76;
}
.panels-flexible-column-erpal_panel_layout-3 {
    border-right: 2px solid #AFAFAF;
}
.panels-flexible-erpal_panel_layout-inside,
.panels-flexible-erpal_panel_layout-left,
.panels-flexible-column,
.left-region .panels-flexible-column-inside,
.left-region .panels-flexible-row,
.left-region .panels-flexible-row-inside {
	height: 100%
} 
.tabs-region .block {
	margin-bottom: 0px;
}
.panels-flexible-erpal_panel_layout-left{
	float: left;
}
.pane-search-form{
	margin-bottom: 12px;
}
/*-----------------Search Block-------------------------------*/
#search-block-form .form-text{
	margin-left: 5px;
	width: 130px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #C0C0C0;
    font-size: 11px;
}



/* =============================================================================
 *   Tabs
 * ========================================================================== */
.panels-flexible-row .tabs-region .panels-flexible-region-erpal_panel_layout-tabs_region-inside{
	margin-left: 150px;
	height: 52px;
}
.panels-flexible-row .tabs-region .panels-flexible-region-erpal_panel_layout-tabs_region-inside .panels-ipe-region{
	height: 42px;
}

/* =============================================================================
 *   Middle region
 * ========================================================================== */
#user-login input.form-text {
	width: 200px;
}
.panel-2col-stacked .inside .inside, 
.pane-content .panels-flexible-region .panels-flexible-region-erpal_panel_layout-tabs_region-inside {
    background: none;
    border: none;
}
.panels-flexible-row{
	padding: 0px;
}
.panels-flexible-column-inside-last {
    padding: 0;
}
.panels-flexible-row-erpal_panel_layout-main-row-inside, .panels-flexible-row-erpal_panel_layout-1-inside {
	margin-right: 20px;
	margin-left: 30px;
}
.panels-flexible-row-erpal_panel_layout-1 .tabs-region, .panels-flexible-row-erpal_panel_layout-main-row .tabs-region{
	display: none;
}
.panels-flexible-column-erpal_panel_layout-main{
	margin-left: -2px;
    width: 100%;
	float: left;
}
.panels-flexible-row.panels-flexible-row-erpal_panel_layout-5.panels-flexible-row-first.clearfix.tabs-region{
	margin-bottom: 30px;
}
.panels-flexible-erpal_panel_layout-middle {
    margin-left: 153px;
    min-width: 440px;
}
.panels-flexible-erpal_panel_layout {
    height: 100%;
}

/* =============================================================================
 *   first row - middle section
 * ========================================================================== */
.panels-flexible-region-erpal_panel_layout-row_first_right {
    margin-left: 20px;
}
.row-first-left{
	min-width: 360px;
}

/* =============================================================================
 *   erpal_content_layout
 * ========================================================================== */
.erpal-content-layout-template .region-sidebar-left{
	float: left;
}
.erpal-content-layout-template .region-sidebar-right{
	float: right;
}
.erpal-content-layout-template .region-sidebar-right{
    margin: 0 0 0 -270px;
    width: 250px;
}
.erpal-content-layout-template .content-inner{
	padding-bottom: 30px;
	clear: both;
}
.erpal-content-layout-template .region-sidebar-left{
	margin-right: 280px;
	min-width: 360px;
}

