/*
Document   : global_vars_a_mixins
Created on : December, 2012, 
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*******************/
/* IMPORTS
/*******************/
/*******************/
/* VARIABLES
/*******************/
/* color variables */
/* main background*/
/* background*/
/*background for quicktabs li*/
/*background for pane titles, table th*/
/* color for right sidebar, pane title*/
/* left sidebar link*/
/*@mixin h2_pane_title{
	padding-right: 5px;
	color: $dark_black;
	font:{
		size: $font-size_12;
	}
	background-color: none;
}*/
/* line 3, ../sass/tabs.scss */
ul.primary,
ul.secondary {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  background-color: white;
  border: medium none;
}

/* line 15, ../sass/tabs.scss */
ul.primary li,
ul.secondary li {
  float: left;
  /* LTR */
}

/*
 * Primary tabs
 */
/* line 23, ../sass/tabs.scss */
ul.primary li {
  margin: 0;
  /* LTR */
  display: block;
}

/* line 30, ../sass/tabs.scss */
ul.primary a:link,
ul.primary a:visited {
  margin: 0;
  padding: 0 20px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  height: 42px;
  line-height: 42px;
  min-width: 80px;
  background: white;
  border: none;
}

/* line 45, ../sass/tabs.scss */
ul.primary a.active,
ul.primary a.active:hover {
  *zoom: 1;
  background-color: #ffa800;
  color: black;
}

/* line 50, ../sass/tabs.scss */
ul.primary li a:hover {
  background-color: white;
}

/* line 55, ../sass/tabs.scss */
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  border: none;
}

/* line 59, ../sass/tabs.scss */
ul.primary li a:hover,
ul.primary li a:focus {
  border-color: #ccc;
  color: black;
}

/*
 * Secondary tabs
 */
