/*
Document   : global_vars_a_mixins
Created on : December, 2012, 
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*******************/
/* IMPORTS
/*******************/
/*******************/
/* VARIABLES
/*******************/
/* color variables */
/* main background*/
/* background*/
/*background for quicktabs li*/
/*background for pane titles, table th*/
/* color for right sidebar, pane title*/
/* for pain search */
/*for left menu*/
/*for menu hover*/
/*for menu item grey border, */
/*link color*/
/*styles for alert*/
/*color for mark*/
/* left sidebar link*/
/*for border*/
/*grey link color*/
/*for quicktabs-tabs color*/
/*----for buttons border---------------*/
/*for top menu border*/
/*styles for border*/
/*styles for text*/
/*styles for ul*/
/*styles for mixins*/
/*styles for h1, h2, h3, h4, h5, h6 mixins*/
ul.primary li a {
  background-color: transparent;
}
ul.primary li a:hover {
  background-color: transparent;
}

#erpal_wrapper .panel-panel.panel-col-last {
  float: left;
  width: 100%;
  height: 100%;
}
#erpal_wrapper .panel-panel.panel-col-last .inside {
  margin-left: 141px;
  min-width: 440px;
  height: 100%;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .ctools-collapsible-content .inside {
  margin-left: 0px;
  min-width: 0px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs {
  margin-bottom: 0;
  width: 100%;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary {
  margin: 0px;
  padding: 0px;
  *zoom: 1;
  list-style: none;
  white-space: nowrap;
  border: none;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li {
  margin: 0 3px 0 0;
  float: left;
  display: block;
  background-color: #e9e5e2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E5E2', endColorstr='#FFD4D4D4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e5e2), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(top, #e9e5e2 0%, #d4d4d4 100%);
  background-image: -moz-linear-gradient(top, #e9e5e2 0%, #d4d4d4 100%);
  background-image: -o-linear-gradient(top, #e9e5e2 0%, #d4d4d4 100%);
  background-image: linear-gradient(top, #e9e5e2 0%, #d4d4d4 100%);
  -webkit-box-shadow: #545151 0 -2px 1px 0;
  -moz-box-shadow: #545151 0 -2px 1px 0;
  box-shadow: #545151 0 -2px 1px 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.active {
  background: white;
  position: relative;
  z-index: 10;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.active:hover {
  background: white;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a {
  margin: 0;
  padding: 0 12px 0 35px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  height: 42px;
  line-height: 42px;
  border: none;
  height: 33px;
  line-height: 33px;
  position: relative;
  z-index: 1;
  color: black;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  min-width: 100px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a:visited {
  margin: 0;
  padding: 0 12px 0 35px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  height: 42px;
  line-height: 42px;
  border: none;
  color: black;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a:hover {
  color: #fc9822;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a.active {
  color: black;
  border: medium none;
  z-index: 10;
  color: #fc9822;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a.active:hover {
  color: #fc9822;
}

/*--------------------------begin icons for tabs------------------------*/
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.active-timetrackings a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timetrackings a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timekeeping a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.all-timekeeping a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timekeeping-offset a {
  background: url("../images/menu_icons/timekeeping.png") no-repeat 9px -2px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.active-timetrackings a:hover, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timetrackings a:hover, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timekeeping a:hover, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.all-timekeeping a:hover, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timekeeping-offset a:hover {
  background: url("../images/menu_icons/timekeeping.png") no-repeat 9px -38px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.active-timetrackings-active-tab a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timetrackings-active-tab a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timekeeping-active-tab a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.all-timekeeping-active-tab a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.timekeeping-offset-active-tab a {
  background: url("../images/menu_icons/timekeeping.png") no-repeat 9px -38px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.fixed-price-items a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.time-budgets a {
  background: url("../images/menu_icons/price_.png") no-repeat 9px 9px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.fixed-price-items a:hover, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.time-budgets a:hover {
  background: url("../images/menu_icons/price_.png") no-repeat 9px -40px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.fixed-price-items-active-tab a, #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.time-budgets-active-tab a {
  background: url("../images/menu_icons/price_.png") no-repeat 9px -40px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.project-list a {
  background: url("../images/menu_icons/projects.png") no-repeat 9px -2px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.project-list a:hover {
  background: url("../images/menu_icons/projects.png") no-repeat 9px -38px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.project-list-active-tab a {
  background: url("../images/menu_icons/projects.png") no-repeat 9px -38px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.home a {
  background: url("../images/menu_icons/home.png") no-repeat 9px 7px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.home a:hover {
  background: url("../images/menu_icons/home.png") no-repeat 9px -37px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.home-active-tab a {
  background: url("../images/menu_icons/home.png") no-repeat 9px -37px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.documents a {
  background: url("../images/menu_icons/docs.png") no-repeat 9px -1px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.documents a:hover {
  background: url("../images/menu_icons/docs.png") no-repeat 9px -37px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.documents-active-tab a {
  background: url("../images/menu_icons/docs.png") no-repeat 9px -37px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.files a {
  background: url("../images/menu_icons/files.png") no-repeat 9px -2px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.files a:hover {
  background: url("../images/menu_icons/files.png") no-repeat 9px -38px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.files-active-tab a {
  background: url("../images/menu_icons/files.png") no-repeat 9px -38px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.contracts a {
  background: url("../images/menu_icons/contracts.png") no-repeat 9px -1px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.contracts a:hover {
  background: url("../images/menu_icons/contracts.png") no-repeat 9px -37px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.contracts-active-tab a {
  background: url("../images/menu_icons/contracts.png") no-repeat 9px -37px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.contact a {
  background: url("../images/menu_icons/contacts.png") no-repeat 9px -1px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.contact a:hover {
  background: url("../images/menu_icons/contacts.png") no-repeat 9px -37px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.contact-active-tab a {
  background: url("../images/menu_icons/contracts.png") no-repeat 9px -37px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.tasks a {
  background: url("../images/menu_icons/tasks.png") no-repeat 9px 7px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.tasks a:hover {
  background: url("../images/menu_icons/tasks.png") no-repeat 9px -22px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.tasks-active-tab a {
  background: url("../images/menu_icons/tasks.png") no-repeat 9px -22px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.calendar {
  width: auto;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.calendar a {
  background: url("../images/menu_icons/calendar.png") no-repeat 9px -2px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.calendar a:hover {
  background: url("../images/menu_icons/calendar.png") no-repeat 9px -38px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.calendar-active-tab a {
  background: url("../images/menu_icons/calendar.png") no-repeat 9px -38px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.tickets a {
  background: url("../images/menu_icons/ticket_.png") no-repeat 9px 8px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.tickets a:hover {
  background: url("../images/menu_icons/ticket_.png") no-repeat 9px -25px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li.tickets-active-tab a {
  background: url("../images/menu_icons/ticket_.png") no-repeat 9px -25px;
}

.page-projects-projects #erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a {
  min-width: 140px;
}

/*--------------------------end icons for tabs------------------------*/
