/*
Document   : global_vars_a_mixins
Created on : December, 2012, 
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*******************/
/* IMPORTS
/*******************/
/*******************/
/* VARIABLES
/*******************/
/* color variables */
/* main background*/
/* background*/
/*background for quicktabs li*/
/*background for pane titles, table th*/
/* color for right sidebar, pane title*/
/* for pain search */
/*for left menu*/
/*for menu hover*/
/*for menu item grey border, */
/*link color*/
/*styles for alert*/
/*color for mark*/
/* left sidebar link*/
/*for border*/
/*grey link color*/
/*for quicktabs-tabs color*/
/*----for buttons border---------------*/
/*styles for border*/
/*styles for text*/
/*styles for ul*/
/*styles for mixins*/
/*styles for h1, h2, h3, h4, h5, h6 mixins*/
#erpal_wrapper .panel-panel.panel-col-last {
  float: left;
  width: 100%;
  height: 100%;
}
#erpal_wrapper .panel-panel.panel-col-last .inside {
  margin-left: 141px;
  min-width: 440px;
  height: 100%;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .ctools-collapsible-content .inside {
  margin-left: 0px;
  min-width: 0px;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs {
  margin-bottom: 0;
  width: 100%;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary {
  margin: 0px;
  padding: 0px;
  *zoom: 1;
  list-style: none;
  white-space: nowrap;
  border: none;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li {
  margin: 0 3px 0 0;
  float: left;
  display: block;
  background-color: #e9e5e2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E5E2', endColorstr='#FFD4D4D4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e5e2), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(top, #e9e5e2 0%, #d4d4d4 100%);
  background-image: -moz-linear-gradient(top, #e9e5e2 0%, #d4d4d4 100%);
  background-image: -o-linear-gradient(top, #e9e5e2 0%, #d4d4d4 100%);
  background-image: linear-gradient(top, #e9e5e2 0%, #d4d4d4 100%);
  -webkit-box-shadow: #545151 0 -2px 1px 0;
  -moz-box-shadow: #545151 0 -2px 1px 0;
  box-shadow: #545151 0 -2px 1px 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a {
  margin: 0;
  padding: 0 20px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  height: 42px;
  line-height: 42px;
  min-width: 80px;
  border: none;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  height: 33px;
  line-height: 33px;
  min-width: 105px;
  position: relative;
  z-index: 1;
  color: black;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a:visited {
  margin: 0;
  padding: 0 20px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  height: 42px;
  line-height: 42px;
  min-width: 80px;
  border: none;
  color: black;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a:hover {
  color: #fc9822;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a.active {
  *zoom: 1;
  background-color: #fc9822;
  color: black;
  background: white;
  border: medium none;
  z-index: 10;
  color: #fc9822;
}
#erpal_wrapper .panel-panel.panel-col-last .inside .pane-page-tabs ul.primary li a.active:hover {
  color: #fc9822;
}
