/* 
    Document   : syncprofile
    Created on : 11.05.2012, 10:14:53
    Author     : kauschke
    Description:
        Provides Some Styles for the Syncprofile UI
*/

#bs-syncprofile-useraccounts-form #useraccountdata,
#bs-syncprofile-useraccounts-form #useraccountcredentials {
  float: left;
  width: 49%;
}

#bs-syncprofile-useraccounts-form #useraccountdata {
  margin-right: 1%;
}

